<a href="https://colab.research.google.com/github/JGuarnizo/Coding_Dojo/blob/main/Advanced_Machine_Learning/Week9_Dimensionality_Reduction/Ejercicio_Tuberia_KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio sobre Tuberías
#Por: José Guarnizo

Tarea

Tu tarea es hacer el ejercicio KNN (K-Nearest Neighbors) que completaste en la semana 5, ahora usando tuberías. Crea dos tuberías para unir el escalamiento y la regresión, y el escalamiento y la clasificación para las dos tareas principales:

La primera tarea es usar el conjunto de datos de abalon para predecir la edad de abalone según las medidas corporales usando KNN. Este es el problema de regresión. La segunda tarea es utilizar el conjunto de datos de abalone para predecir el sexo de acuerdo a sus características.  Asegúrate de usar una tubería para ambas.

##Importación de librerías y exploración de data

In [36]:
#Importación de librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.metrics import mean_absolute_error

In [37]:
#Lectura de data, alojada en repositorio de Github.
df=pd.read_csv('https://raw.githubusercontent.com/JGuarnizo/Coding_Dojo/main/Machine_Learning/Week5_Introduction/abalone.data')
column_names=['sex','length','diameter','height','whole weight',
              'shucked weight', 'viscera weight','shell weight','rings']
df.columns=column_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4176 non-null   object
 1   length          4176 non-null   float64
 2   diameter        4176 non-null   float64
 3   height          4176 non-null   float64
 4   whole weight    4176 non-null   float64
 5   shucked weight  4176 non-null   float64
 6   viscera weight  4176 non-null   float64
 7   shell weight    4176 non-null   float64
 8   rings           4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [38]:
df.head()

,sex,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
0,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
1,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
2,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
3,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7
4,I,0.425,0.300,0.095,0.3515,0.1410,0.0775,0.120,8

##1. Predecir la edad del abulón a partir de mediciones físicas utilizando KNN
Variable rings = (int)

In [39]:
#Matriz de correlación entre variables numéricas
df.drop(columns=['sex']).corr()

,length,diameter,height,whole weight,shucked weight,viscera weight,shell weight,rings
length,1.000000,0.986813,0.827552,0.925255,0.897905,0.903010,0.897697,0.557123
diameter,0.986813,1.000000,0.833705,0.925452,0.893159,0.899726,0.905328,0.575005
height,0.827552,0.833705,1.000000,0.819209,0.774957,0.798293,0.817326,0.558109
whole weight,0.925255,0.925452,0.819209,1.000000,0.969403,0.966372,0.955351,0.540818
shucked weight,0.897905,0.893159,0.774957,0.969403,1.000000,0.931956,0.882606,0.421256
viscera weight,0.903010,0.899726,0.798293,0.966372,0.931956,1.000000,0.907647,0.504274
shell weight,0.897697,0.905328,0.817326,0.955351,0.882606,0.907647,1.000000,0.628031
rings,0.557123,0.575005,0.558109,0.540818,0.421256,0.504274,0.628031,1.000000

In [40]:
#Matriz de características
X1=df.drop(columns=['rings','sex']).values
#Target Vector: rings
y1=df['rings'].values

In [41]:
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y1, random_state=1)

In [42]:
#Utilizando KNN regresión
pipe1=make_pipeline(StandardScaler(),KNeighborsRegressor(n_neighbors=100))
pipe1.fit(X1_train,y1_train)
predictions_knn_r = pipe1.predict(X1_test)
train_r2 = pipe1.score(X1_train,y1_train)
test_r2 = pipe1.score(X1_test,y1_test)
print('MODELO REGRESIÓN KNN (n_neighbors=100)')
print('Train- R2 = {:.3f}'.format(train_r2))
print('Test - R2 = {:.3f}'.format(test_r2))
print('Test -MAE = {:.3f}'.format(mean_absolute_error(y1_test,predictions_knn_r)))

MODELO REGRESIÓN KNN (n_neighbors=100)
Train- R2 = 0.510
Test - R2 = 0.521
Test -MAE = 1.556

##2. Predecir el sexo a partir de sus características.
Variable sex = M, F, and I (infant)

In [43]:
#Matriz de características
X2=df.drop(columns=['sex'])
#Target vector: variable 'sex'
y2=df['sex'].values

In [44]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, random_state=1, stratify=y2)

In [45]:
#Modelo de clasificación por KNN
pipe2=make_pipeline(StandardScaler(),KNeighborsClassifier(n_neighbors=100))
pipe2.fit(X2_train,y2_train)
accuracy_train = pipe2.score(X2_train,y2_train)
accuracy_test = pipe2.score(X2_test,y2_test)
print('MODELO CLASIFICACIÓN KNN (n_neighbors=100)')
print('Train- Precisión = {:.3f}'.format(accuracy_train))
print('Test - Precisión = {:.3f}'.format(accuracy_test))

MODELO CLASIFICACIÓN KNN (n_neighbors=100)
Train- Precisión = 0.580
Test - Precisión = 0.558

##Preguntas

**¿Por qué querrías ocupar una tubería para KNN?**

Para garantizar que se está ocupando la data escalada

**¿Para qué otros modelos o tareas sería útil usar una tubería?**

Para cualquier modelo que requiera de varias operaciones en su data, por ejemplo escalamiento de datos o reducción de dimensiones.