<a href="https://colab.research.google.com/github/JGuarnizo/Coding_Dojo/blob/main/Machine_Learning/Week5_Introduction/Ejercicio_KNN_JG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Ejercicio KNN
#Por: José Guarnizo

Tarea

Tienes dos tareas principales. La primera tarea es utilizar el conjunto de datos del abulón para predecir la edad del abulón a partir de mediciones físicas utilizando KNN. Este es un problema de regresión. Es posible que desees buscar en Google "KNN regression scikit-learn". La segunda tarea es utilizar el conjunto de datos de abulón para predecir el sexo a partir de sus características. Esta debería ser una tarea más fácil, ya que ya hemos repasado la clasificación KNN usando Python.

##Importación de librerías y exploración de data

In [105]:
#Importación de librerías
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

In [106]:
#Lectura de data, alojada en repositorio de Github.
df=pd.read_csv('https://raw.githubusercontent.com/JGuarnizo/Coding_Dojo/main/Machine_Learning/Week5_Introduction/abalone.data')
column_names=['sex','length','diameter','height','whole weight',
              'shucked weight', 'viscera weight','shell weight','rings']
df.columns=column_names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4176 entries, 0 to 4175
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sex             4176 non-null   object
 1   length          4176 non-null   float64
 2   diameter        4176 non-null   float64
 3   height          4176 non-null   float64
 4   whole weight    4176 non-null   float64
 5   shucked weight  4176 non-null   float64
 6   viscera weight  4176 non-null   float64
 7   shell weight    4176 non-null   float64
 8   rings           4176 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [107]:
df.head()

  sex  length  diameter  ...  viscera weight  shell weight  rings
0   M   0.350     0.265  ...          0.0485         0.070      7
1   F   0.530     0.420  ...          0.1415         0.210      9
2   M   0.440     0.365  ...          0.1140         0.155     10
3   I   0.330     0.255  ...          0.0395         0.055      7
4   I   0.425     0.300  ...          0.0775         0.120      8

[5 rows x 9 columns]

##1. Predecir la edad del abulón a partir de mediciones físicas utilizando KNN
Variable rings = (int)

**¿Podrías haber utilizado la regresión lineal y la regresión KNN para resolver el problema de regresión?**

Si, se puede utilizar tanto la regresión lineal como la KNN-regresión. Sin embargo, KNN presenta un mejor desempeño que la regresión lineal. Analizando el R2 KNN es de 0.68 y la regresión lineal es de 0.53, asimismo, el error (MAE) es mayor en el modelo de regresión lineal que en el de KNN-regresión . Y si se disminuye el valor de n_neighbors en el modelo KNN el R2 puede llegar a 1, pero aquí el modelo caería en overfitting. Para esta base pequeña funciona muy bien KNN-regresión

In [108]:
#Matriz de correlación entre variables numéricas
df.drop(columns=['sex']).corr()

                  length  diameter  ...  shell weight     rings
length          1.000000  0.986813  ...      0.897697  0.557123
diameter        0.986813  1.000000  ...      0.905328  0.575005
height          0.827552  0.833705  ...      0.817326  0.558109
whole weight    0.925255  0.925452  ...      0.955351  0.540818
shucked weight  0.897905  0.893159  ...      0.882606  0.421256
viscera weight  0.903010  0.899726  ...      0.907647  0.504274
shell weight    0.897697  0.905328  ...      1.000000  0.628031
rings           0.557123  0.575005  ...      0.628031  1.000000

[8 rows x 8 columns]

In [109]:
#Matriz de características
X1=df.drop(columns=['rings','sex']).values
X1.shape

(4176, 7)

In [110]:
#Target Vector: rings
y1=df['rings'].values
y1.shape

(4176,)

In [111]:
#Utilizando KNN regresión
knn_r=KNeighborsRegressor(n_neighbors=5)
knn_r.fit(X1,y1)
predictions_knn_r = knn_r.predict(X1)
score_knn_r = knn_r.score(X1,y1)
print('MODELO REGRESIÓN KNN (n_neighbors=5)')
print('R2 = {:.3f}'.format(score_knn_r))
print('MAE = {:.3f}'.format(mean_absolute_error(y1,predictions_knn_r)))

MODELO REGRESIÓN KNN (n_neighbors=5)
R2 = 0.676
MAE = 1.296

In [112]:
#Utilizando Regresión Lineal
reg=LinearRegression(fit_intercept=True)
reg.fit(X1,y1)
predictions_reg = reg.predict(X1)
score_reg = reg.score(X1,y1)
print('MODELO REGRESIÓN LINEAL')
print('R2 = {:.3f}'.format(score_reg))
print('MAE = {:.3f}'.format(mean_absolute_error(y1,predictions_reg)))

MODELO REGRESIÓN LINEAL
R2 = 0.528
MAE = 1.608

##2. Predecir el sexo a partir de sus características.
Variable sex = M, F, and I (infant)

**¿Podrías haber utilizado la regresión lineal para el problema de clasificación?**

NO, la regresión lineal se utiliza para variables numéricas y no para categóricas. En este caso, sex(target vector) es categórica y se debe utilizar un algoritmo de clasificación, KNN-clasificación.

In [113]:
#Matriz de características
X2=df.drop(columns=['sex'])
X2.shape

(4176, 8)

In [114]:
#Escalado de la matriz de características X2
scaler = StandardScaler()
scaler.fit(X2)
X2=scaler.transform(X2)

In [115]:
#Target vector: variable 'sex'
y2=df['sex'].values
y2.shape

(4176,)

In [116]:
#Modelo de clasificación por KNN
knn_c = KNeighborsClassifier(n_neighbors=5)
knn_c.fit(X2,y2)
score_knn_c = knn_c.score(X2,y2)
print('MODELO CLASIFICACIÓN KNN (n_neighbors=5)')
print('R2 = {:.3f}'.format(score_knn_c))

MODELO CLASIFICACIÓN KNN (n_neighbors=5)
R2 = 0.680