<a href="https://colab.research.google.com/github/JGuarnizo/Coding_Dojo/blob/main/Machine_Learning/Week5_Introduction/Metricas_Regresion_JG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Métricas de Regresión
##Por: José Guarnizo
##Fecha: 2022/02/06

Tu tarea es calcular el significado del error absoluto medio (MAE), error cuadrático medio (MSE), y la raíz del error cuadrático medio (RMSE) para el conjunto de datos y modelo de la sección de regresión lineal.

##Importación de librerías y generación de modelo en variable reg

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/JGuarnizo/Coding_Dojo/main/Machine_Learning/Week5_Introduction/modifiedBostonHousing.csv')

In [20]:
data=data.loc[:,['RM', 'LSTAT', 'PTRATIO', 'price']]
data.head()

      RM  LSTAT  PTRATIO  price
0  6.575   4.98     15.3   24.0
1  6.421   9.14     17.8   21.6
2  7.185   4.03     17.8   34.7
3  6.998   2.94     18.7   33.4
4  7.147   5.33     18.7   36.2

In [5]:
#Eliminación de valores nulos
#Eliminación de valores negativos en price
data = data.dropna(how = 'any')
filter_price=data['price']<0
data=data.loc[~filter_price,:]

In [10]:
#Matriz de caracteristica, vector target y modelo
X=data.loc[:,['RM','LSTAT','PTRATIO']].values
y=data.loc[:,'price'].values
reg=LinearRegression(fit_intercept=True)
reg.fit(X,y)

LinearRegression()

## Cálculo de R2
0.7848% de mi variable 'price' esta explicada por las variables ['RM', 'LSTAT', 'PTRATIO']

In [11]:
score=reg.score(X,y)
print(f"R2 = {score}")

R2 = 0.7848414273030438

##Cálculo de MAE
Bibliografía: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_absolute_error.html

El modelo, en general, falla con 3.231 miles de dolares cada proyección.

In [12]:
from sklearn.metrics import mean_absolute_error

In [13]:
y_pred=reg.predict(X)

In [15]:
mae=mean_absolute_error(y, y_pred)
print(f"MAE = {mae}")

MAE = 3.2313558816689714

##Cálculo de MSE
Bibliografía: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html

Este error se usa más para optimización ya que castiga más los errores grandes. En general, el modelo falla con 17.915 miles de dolares al cuadrado.

In [16]:
from sklearn.metrics import mean_squared_error

In [17]:
mse=mean_squared_error(y, y_pred)
print(f"MSE = {mse}")

MSE = 17.915487275260496

##Cálculo de RMSE
Bibliografía: https://www.delftstack.com/es/howto/python/square-root-in-python/

Raíz cuadrada del MSE. Indica que el modelo falla 4.232 miles de dolares en cada proyección. Este tipo de error es más sensible a las variaciones.

In [19]:
rmse=np.sqrt(mse)
print(f"MSE = {rmse}")

MSE = 4.232669048633556